TABLEAU_SERVER_URL=""
TABLEAU_SITE_NAME=""
TABLEAU_JWT_CLIENT_ID=""
TABLEAU_JWT_SECRET_ID=""
TABLEAU_JWT_SECRET=""
TABLEAU_USER=""

AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4.1-mini"#atleast